.titre {
  color: var(--accent);
  background: var(--background);
}

.page {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: var(--clr-main-grey);
  overflow: hidden;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  position: relative;

  .list {
    background-color: var(--clr-main-lightgrey);
    flex-direction: column;
    display: flex;
    padding: 1rem;
    gap: 1rem;
  }
}
