.page {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: var(--clr-playground-bg);
  overflow: hidden;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  position: relative;

  .list {
    background-color: var(--clr-lsitDevice-bg);
    flex-direction: column;
    display: flex;
    padding: 1rem;
    gap: 1rem;
  }
}
