.container {
	background-color: var(--clr-main-lightgrey);
	height: 100vh;
}

.cardList {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 11rem);
	grid-template-rows: repeat(auto-fill, 9rem);
    grid-gap: 1rem;
}

.galleryExplication{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    color: var(--clr-main-primary);
	background-color: var(--clr-main-white);
}

.btnCreateTopology {
	width: 10rem;
	height: 8.5rem;
	border: none;
	font-size: xxx-large;
	color: var(--clr-main-primary);
	border-radius: 0.2rem;
	background-color: var(--clr-main-white);
}

.btnCreateTopology:hover {
	border: solid 2.5px var(--clr-main-primary);
}
