.header {
    display: flex;
    background-color: var(--clr-main-lightgrey);
    width: 100%;
    align-items: center;
    height: 3rem;
}

.title {
    margin-left: 2rem;
    font-size: 2rem;
	color: var(--clr-main-black);
}
