.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked+.slider {
      background-color: var(--clr-action-bg-default);
      outline: 1px solid var(--clr-action-focus-default);
    }

    &:focus+.slider {
      outline: 1px solid var(--clr-action-focus-default);
    }

    &:checked+.slider:before {
      transform: translateX(12px);
    }
  }

  .slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-input-bg);
    outline: 1px solid var(--clr-input-bg);

    &:before {
      position: absolute;
      content: "";
      border-radius: 50%;
      height: 16px;
      width: 16px;
      left: 2px;
      bottom: 2px;
      background-color: var(--clr-bg-white);
    }
  }
}