.page{
  height: 100vh;
  background-color: var(--clr-main-grey);
}

.header {
  background-color: var(--clr-main-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5.5rem;
  padding: 0 1rem;
  box-sizing: border-box;
  box-shadow: 0 4px 0.5rem 0.1rem rgba(0,0,0,0.1);
}

.headerTitle {
  font-weight: bold;
  font-size: 2rem;
  color: var(--clr-main-white);
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.settingsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--clr-main-black);
  margin: 2rem 0 2rem 0;
  width: 100%;
  max-height: 80vh;
}

.settingsMenu {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  width: 70%;
  padding-right: 1rem;
}


.settingsMenuTitle {
  font-size: 20px;
  text-decoration: none;
  color: var(--clr-main-black);
}

.settingsGrid {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  Overflow-y:scroll;
  width: 100%;
  padding-left: 2rem;
}

.gridItemLeft {
  justify-self: start;
  align-self: center;
}

.gridItemRight {
  display: flex;
  align-self: center;
  align-items: center;
}

.gridItemTitle {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 25px;
}

.gridItemButton {
  grid-area: 0 / 0 / 2 / 0;
  background-color: var(--clr-main-primary);
  color: var(--clr-main-black);
  height: 2rem;
  width: 9rem;
  font-size: 18px;
  border: none;
}


.label {
  color: var(--clr-main-black);
}

.select {
  border-color: var(--clr-main-secondary);
  border-width: 2px;
  width: 10rem;
  font-size: 1rem;
  padding: 0.1rem;
  border-radius: 0.2rem;
  background-color: var(--clr-main-lightgrey);
  color: var(--clr-main-black);
}

.storagePlaceInput {
  border-color: var(--clr-main-secondary);
  border-style: solid;
  width: 20rem;
  font-size: 1rem;
  padding: 0.1rem;
  border-radius: 0.2rem;
  background-color: var(--clr-main-lightgrey);
  color: var(--clr-main-black);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
   box-shadow: none;
}

.centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnChooseDir {
  background-color: transparent;
  border: none;
  color: var(--clr-main-primary);
}




