.page {
  min-height: 100%;
  background-color: var(--clr-page-bg);
  position: relative;

  & .settingsContainer {
    display: flex;
    position: absolute;
    inset: 0;
    flex-direction: row;
    color: var(--clr-settings-text);
    font-weight: 200;
    height: 100%;

    & .navigation {
      box-sizing: border-box;
      text-align: right;
      width: 20%;
      left: 0;
      top: 0;
      padding-right: 2rem;
      border-right: 2px solid var(--clr-settings-border);
      padding-top: 2rem;

      &__item a {
        text-decoration: none;
        color: var(--clr-settings-text);
        line-height: 1.5rem;
        font-size: 1rem;
        transition: color .2s;

        &:hover {
          color: var(--clr-settings-nav-hover);
        }
      }
    }

    & .list {
      overflow: auto;
      padding:  2.5rem 10% .5rem 2rem;
      flex-grow: 1;
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  padding-bottom: 2rem;

  &__title {
    font-size: 1rem;
    padding-bottom: 1.5rem;
    font-weight: 700;
  }

  & .settingList {

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      line-height: 2.25rem;

      .btnIcone {
        color: var(--clr-settings-icon);
        background: transparent;
        font-size: 1.25rem;
        border: none;
        cursor: pointer;
      }

      & label{
        margin-right: .5rem;
      }
    }
  }

  & input {
    max-width: 300px;
    width: 50%;
  }

  & input,
  & select {
    border: none;
    box-sizing: border-box;
    padding: .25rem .5rem;
    font-weight: 200;
    margin: 0;
    border-radius: 5px;
    color: var(--clr-input-text);
    background-color: var(--clr-input-bg);
    font-size: 0.875rem;

    &::placeholder {
      color: var(--clr-input-placeholder);
    }

    &:active,
    &:focus,
    &:hover {
      outline: 1px solid var(--clr-action-focus-default);
    }
  }

  & .table {
    & th {
      text-align: left;
      background-color: var(--clr-settings-border);
      padding-left: 1rem;
    }

    & tr {
      border-bottom: 2px solid var(--clr-settings-border);
      line-height: 2rem;
    }

    & td {
      padding-left: 1rem;
    }
  }
}

.kbd {
  --kbd-color-border: var(--clr-settings-border);

  text-transform: capitalize;

  color: var(--clr-input-text);
  background-color: var(--clr-input-bg);
  border: 1px solid var(--clr-settings-border);

  border-radius: 0.25rem;

  box-shadow: 0 2px 0 1px var(--clr-settings-border);

  font-size: 0.85em;

  line-height: 1;

  min-width: 0.75rem;

  text-align: center;

  text-transform: ca;

  padding: 2px 5px;
  position: relative;
  top: -1px;

  &:hover {
    box-shadow: 0 1px 0 0.5px var(--kbd-color-border);
    top: 1px;
  }
}