$themes: (
  light: (
    clr-main-primary: #5A587C,
    clr-main-orange: #ffffff,
    clr-main-white: #ffffff,
    clr-white: #ffffff,
    clr-main-black: #000,
    clr-main-secondary: #6c7087, 
    clr-main-grey: #ebebeb,
    clr-main-lightgrey: #c4c6d1, 
    clr-light-grey: #6c7087,
    clr-dark-grey: #ebebeb,
    clr-title-color: #aaa
  ),
  dark2: (
    clr-main-primary: #2287cb,
    clr-main-orange: #ffffff,
    clr-main-white: #ffffff,
    clr-white: #ffffff,
    clr-main-black: #ffffffd9,
    clr-main-secondary: #333333, 
    clr-main-grey: #1e1e1e,
    clr-main-lightgrey: #252526, 
    clr-light-grey: #333333,
    clr-dark-grey: #ebebeb,
    clr-title-color: #aaa
  ),
  dark: (
    clr-main-primary: #dd733c,
    clr-main-orange: #dd733c,
    clr-main-white: #000,
    clr-white: #ffffff,
    clr-main-black: #fff,
    clr-main-secondary: #212121, 
    clr-main-grey: #424242,
    clr-main-lightgrey: #212121,
    clr-light-grey: #424242, 
    clr-dark-grey: #212121,
    clr-title-color: #aaa
  )
);

@each $key, $map in $themes {
  .theme-#{$key} {
    @each $prop, $color in $map {
      --#{$prop}: #{$color};
    }
  }
}
