.titleBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  background-color: #333;
  color: var(--clr-title-color);
  font-size: 0.75rem;
  font-weight: 300;
  -webkit-app-region: drag;
}

.input {
  text-align: center;
  justify-self: center;
  background: transparent;
  border: 1px solid var(--clr-title-color);
  color: var(--clr-title-color);
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  min-width: clamp(5rem, 20vw, 20rem);

  &:active,
  &:focus,
  &:hover {
    border: 1px solid var(--clr-main-primary);
    outline: none;
  }

  &:focus {
    text-align: left;
  }
}

.btnList {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 100%;
  align-content: center;

  li {
    height: 100%;
    line-height: 2.5rem;
    padding: 0rem 1rem;
    transition: background-color 0.1s;
    font-size: 1rem;

    &:hover {
      background-color: var(--clr-main-primary);
      color: white;
    }

    &:last-child:hover {
      background-color: #ed4245;
    }
  }
}

.clickable {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.left {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.separator {
  height: 100%;
  width: 2px;
  margin: 0 1rem;
}

.separator ~ span {
  font-size: 1rem;
  transition: background-color 0.1s;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.clicked,
.separator ~ span:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.backBtn {
  transition: color 0.1s;
  &:hover {
    color: var(--clr-main-primary);
  }
}

.title,
.title:hover,
.title:active,
.title:focus {
  min-width: fit-content;
  border: none;
  cursor: default;
  pointer-events: none;
}
