.deviceCard {
  cursor: pointer;
  display: block;
  overflow: hidden;
  min-width: 4rem;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--clr-cardDevice-bg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);

  img {
    width: 4rem;
  }
}
