.panel {
    position: absolute;
    display: block;
    height: 100%;
    right: 0;
    min-width: 18rem;
    width: 18rem;
    overflow: auto;
    background-color: var(--clr-main-lightgrey);
    transition: all 0.2s ease-in-out;

    .toggleExpand {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        z-index: 1;
    }

    &[data-expanded=false] {
        transform: translate(15rem);

        .title {
            visibility: visible;
        }

        .container {
            visibility: hidden;
        }
    }

    &[data-expanded=true] {
        .toggleExpand {
            background-color: var(--clr-main-primary);

            &:hover {
                background-color: var(--clr-main-lightgrey);
            }
        }
    }

    .title {
        position: absolute;
        transform-origin: bottom left;
        transform: rotate(90deg);
        white-space: nowrap;
        height: 3rem;
        line-height: 3rem;
        font-size: 1rem;
        color: white;
        visibility: hidden;
    }
}

.container {
    visibility: visible;

    .type {
        z-index: 1;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border-radius: 1.5rem;
        background-color: var(--clr-main-primary);
        color: var(--clr-main-white);
        padding: 0.5rem 1rem;
        font-size: 1rem;
        line-height: 1rem;
        text-transform: capitalize;
        font-weight: bold;
    }

    .image {
        background-color: var(--clr-main-white);
        padding: 0.5rem 0;
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            min-width: 8rem;
            height: 100%;
        }
    }

    .labelMenu {
        font-size: 1rem;
        // transition: 1s;
        margin-right: .5rem;
        color: var(--clr-main-black);
    }

    .inputConfigPanel {
        width: 100%;
        margin-bottom: .75rem;

        &.inputDeviceName {
            width: calc(100% - 1.5rem);
            margin: .75rem;
            font-size: 1rem;
            line-height: 1rem;
        }
    }
}

.form {
    .test {
        display: flex;
        margin-bottom: 1rem;
        align-items: center;
    }

    .labelForm {
        width: 40%;
        font-size: .9rem;
        color: var(--clr-main-black);
    }

    [data-expanded=true] {
        min-width: 4.5rem;
    }

    .inputConfigPanel {
        width: 60%;
        margin: 0;
    }
}
