.panel {
    position: absolute;
    display: block;
    height: 100%;
    right: 0;
    min-width: 18rem;
    width: 18rem;
    overflow: auto;
    background-color: var(--clr-main-lightgrey);
    transition: all 0.2s ease-in-out;

    .toggleExpand {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        z-index: 1;
    }

    &[data-expanded=false] {
        transform: translate(15rem);

        .title {
            visibility: visible;
        }

        .container {
            opacity: 0;
        }
    }

    &[data-expanded=true] {
        .toggleExpand {
            background-color: var(--clr-main-primary);

            &:hover {
                background-color: var(--clr-main-lightgrey);
            }
        }
    }

    .title {
        position: absolute;
        transform-origin: bottom left;
        transform: rotate(90deg);
        white-space: nowrap;
        height: 3rem;
        line-height: 3rem;
        font-size: 1rem;
        color: white;
        visibility: hidden;
    }

    input {
        margin-bottom: .5rem;
    }
}

.inputConfigPanel {
    width: 100%;
    margin-bottom: 0.75rem;

    &.inputDeviceName {
        font-size: 1rem;
        line-height: 1rem;
    }
}

.container {
    opacity: 1;

    .type {
        z-index: 1;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border-radius: 1.5rem;
        background-color: var(--clr-main-primary);
        color: var(--clr-main-white);
        padding: 0.5rem 1rem;
        font-size: 1rem;
        line-height: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    .image {
        background-color: var(--clr-main-white);
        padding: 0.5rem 0;
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            min-width: 8rem;
            height: 100%;
        }
    }
}

.form {
    .labelForm {
        font-size: 0.9rem;
        margin-bottom: .5rem;
        color: var(--clr-main-black);
    }

    .labelMenu {
        font-size: 1rem;
        transition: 1s;
        color: var(--clr-main-black);
    }

    .ip {
        display: flex;
        align-items: center;
        margin-bottom: 0.75rem;

        span {
            font-size: 1rem;
            margin: 0 0.25rem;
            color: var(--clr-main-black);
        }

        input {
            margin-bottom: 0;
        }

        input:last-child {
            width: 38%;
            text-transform: uppercase;
        }
    }

    .divSwitch {
        display: flex;
        align-items: center;
        margin-bottom: .5rem;

        & .labelForm {
            margin-bottom: 0;
            margin-right: 1rem;
        }

    }

    [data-expanded=true] {
        min-width: 4.5rem;
    }
}