.panel {
    position: absolute;
    display: block;
    height: 100%;
    right: 0;
    min-width: 25rem;
    background-color: var(--clr-main-lightgrey);
    transition: all 0.2s ease-in-out;
}

.toggleExpand {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

[data-expanded=false] {
    min-width: 4.5rem;
    

    & .title {
        visibility: visible;
    }
}

.title {
    position: absolute;
    transform-origin: bottom left;
    transform: rotate(90deg);
    white-space: nowrap;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.5rem;
    color: white;
    visibility: hidden;
}