.container {
    position: relative;

    &:hover .toolTip {
        opacity: 1;
        top: 100%;
        pointer-events: all;
    }
}

.toolTip {
    pointer-events: none;
    transition: all .3s;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 70%;
    height: 1.25rem;
    width: max-content;
    padding: 0 5px;
    font-size: .75rem;
    line-height: 1.25rem;
    border-radius: 5px;
    background-color: var(--clr-tooltip-bg);
    color: var(--clr-tooltip-text);
    border: solid 1px var(--clr-warning);
}