.header {
    background-color: var(--clr-main-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}   

.left {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.right {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}