.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    border-radius: 0.2rem;
    background-color: white;
    height: 8rem;
}
.card:hover{
    border : solid 2.5px var(--clr-main-primary);
}

.card:hover .cardTitle {
    border-radius: 0;
}

.cardTitle {
    display: flex;
    width: 100%;
    background-color: var(--clr-main-primary);
    font-size: 15px;
    justify-content: center;
    align-items: center;
    height: 2rem;
    border-radius: 0 0 0.2rem 0.2rem;
    color: var(--clr-main-white);
}

.img {
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
    width: 8rem;
    height: 6rem;
}
